section {
  border: 1px solid #000;
}

#colors {
  text-align: center;
}

.colors div {
  width: 150px;
  padding: 15px;
  display: inline-block;
}

.rose {
  background-color: #FF0080;
}

.leaf {
  background-color: #2D5A27;
}

.ocean {
  background-color: #006994;
}